<html>
  <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/header.ejs') %>
  <main>
    <section>
      <h1>This is the detaip page for your book.</h1>
    </section>
  </main>
  <%- include('../partials/footer.ejs') %>
</body>
</html>

