<html>
  <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/header.ejs') %>
  <main>
    <section>
      <h1>Here's your book</h1>
    </section>
    <%- include('detail.ejs', {book: book}) %>
  </main>
  <%- include('../partials/footer.ejs') %>
</body>
</html>

