<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <section>
        <h1>Search By Title or Author</h1>
      </section>
      <section>
        <%- include('../partials/form.ejs') %>

      </section>
    </main>

    <%- include('../partials/footer.ejs') %>

  </body>
</html>