<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <section>
        <h1>Search Results</h1>
      </section>
      <section>
          <% books.forEach( book => { %>
            <%- include('../partials/detail.ejs', {book: book, route: '#'}) %>
          <% }); %>

      </section>
    </main>

    <%- include('../partials/footer.ejs') %>

    <script src="../../../public/js/app.js"></script>
  </body>
</html>


