<footer>
  <ul>
    <li><img src="https://via.placeholder.com/15" alt=""></li>
    <li><img src="https://via.placeholder.com/15" alt=""></li>
    <li><img src="https://via.placeholder.com/15" alt=""></li>
    <li><img src="https://via.placeholder.com/15" alt=""></li>
  </ul>
</footer>