<form action="/searches" method="post">
  <label>
    <input id ="searchField" type="search" name="book-search" placeholder="Enter a title or author">
  </label>
  <label>
    Title:
    <input type="radio" name="book-search" id="title" value="title" checked>
  </label>
  <label>
    Author:
    <input type="radio" name="book-search" id="author" value="author">
  </label>
  <button>Search for Books</button>

</form>