<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>Book Finder</title>

    <link  href="/styles/reset.css" rel="stylesheet" type="text/css">
    <link  href="/styles/theme.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/views/pages/index.ejs">Book Finder Pro</a></li>
          <li><input type="button"></li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <h1>Search By Title or Author</h1>

      </section>
      <section>
        <form action="/searches" method="post">
          <label>
            <input type="search" name="book-search" placeholder="Enter a title or author">
          </label>
          <label>
            Title:
            <input type="radio" name="book-search" id="title" value="title" checked>
          </label>
          <label>
            Author:
            <input type="radio" name="book-search" id="author" value="author">
          </label>
          <button>Search</button>

        </form>

      </section>
    </main>

    <footer>

    </footer>

  </body>
</html>