<!DOCTYPE html>
<html>
  <head>
    <title>Book Finder</title>
    <link  href="/styles/reset.css" rel="stylesheet" type="text/css">
    <link  href="/styles/theme.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Hello, Bookworm</h1>

    <form action="/searches" method="post">
      <label>
        Search for a book:
        <input type="search" name="book-search">
      </label>
      <button>Search</button>
      <label>
        Title:
        <input type="radio" name="book-search" id="title" value="title" checked>
      </label>
      <label>
        Author:
        <input type="radio" name="book-search" id="author" value="author">
      </label>
    </form>

  </body>
</html>