<!DOCTYPE html>
<html>
  <%- include('./../pages/partials/head.ejs') %>

  <body>
    <%- include('./../pages/partials/header.ejs') %>

    <main>
      <section>
        <h1>Saved Books</h1>
      </section>
      <section>
        
      </section>
    </main>

    <%- include('./../pages/partials/footer.ejs') %>

  </body>
</html>