body {
  display: flex;
  flex-direction: column;
}

nav {
  padding: 2%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main section:first-of-type h1 {
  padding: 2%;
  text-align: center;
}